@import url("./floatAnimation.css");
@import url("./style.css");

/* .fixed-contact-icons {
  
    position: fixed;
    bottom: 90px;
    right: 35px;
    transform: translateY(180px) scale(0);
    visibility: hidden;
    opacity: 0;
    transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
} */
/* .fixed-contact-icons {
  visibility: hidden;
  opacity: 0;
} */
.ellipsis__icons div {
  position: fixed;
  /* bottom: 90px;
  right: 35px;
  transform: translateY(180px) scale(0);
  visibility: hidden;
  opacity: 0;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out; */
  visibility: hidden;
  opacity: 0;
}

.ellipsis__icons div:nth-of-type(5) {
  bottom: 110px;
  right: 35px;
}
.ellipsis__icons div:nth-of-type(4) {
  bottom: 165px;
  right: 35px;
}
.ellipsis__icons div:nth-of-type(3) {
  bottom: 215px;
  right: 35px;
}
.ellipsis__icons div:nth-child(2) {
  bottom: 265px;
  right: 35px;
}
.ellipsis__icons div:nth-of-type(1) {
  bottom: 315px;
  right: 35px;
}

.ellipsis__wrapper {
  position: fixed;
  font-size: 35px;
  /* width: 100vw;
  height: 100vh; */
  z-index: 99;
  bottom: 0;
  right: 0;
}
.ellipsis__checkbox {
  position: fixed;
  font-size: 35px;
  z-index: 1001;
  bottom: 0;
  right: 0;
  width: 90px;
  height: 90px;
  opacity: 0;
  cursor: pointer;
}

.ellipsis__times {
  font-size: 38px;
  color: #e6e6e6;
  position: fixed;
  bottom: 30px;
  right: 45px;
  cursor: pointer;
  z-index: 1000;
  opacity: 0;
}

.ellipsis__ellipsis-h {
  display: inline-block;
  font-size: 38px;
  color: var(--hamburger-menu-color);
  position: fixed;
  bottom: 25px;
  right: 35px;
  cursor: pointer;
  z-index: 1000;
  animation: float-animation 12000ms ease-in-out 6000ms infinite;
}
.ellipsis__bg-overlay {
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10%;
  width: 0%;
  height: 0%;
  opacity: 0;
  transition: opacity 200ms;
}

.ellipsis__checkbox:checked ~ .ellipsis__wrapper {
  width: 100vw;
  height: 100vh;
}

.ellipsis__checkbox:checked + .bg-overlay {
  opacity: 1;
  top: -200%;
  left: -200%;
  width: 400%;
  height: 400%
}

.ellipsis__checkbox:checked ~ .ellipsis__ellipsis-h {
  opacity: 0;
}

.ellipsis__checkbox:checked ~ .ellipsis__times {
  opacity: 1;
}

/* #myEllipsisCheckbox:checked ~ .fixed-contact-icons {
    transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
    visibility: visible;
    opacity: 1;
    transform: translateY(-20px) scale(1);    
  } */

.ellipsis__checkbox:checked ~ .ellipsis__icons div:nth-of-type(5) {
  opacity: 1;
  animation: iconScale 600ms ease-in-out forwards;
  animation-delay: 2800ms;
}

.ellipsis__checkbox:checked ~ .ellipsis__icons div:nth-of-type(4) {
  opacity: 1;
  animation: iconScale 600ms ease-in-out forwards;
  animation-delay: 2100ms;
}

.ellipsis__checkbox:checked ~ .ellipsis__icons div:nth-of-type(3) {
  opacity: 1;
  animation: iconScale 600ms ease-in-out forwards;
  animation-delay: 1400ms;
}

.ellipsis__checkbox:checked ~ .ellipsis__icons div:nth-child(2) {
  opacity: 1;
  animation: iconScale 600ms ease-in-out forwards;
  animation-delay: 700ms;
}

.ellipsis__checkbox:checked ~ .ellipsis__icons div:nth-of-type(1) {
  /* transition: transform 3000ms ease-in-out, opacity 300ms ease-in-out; */
  opacity: 1;
  animation: iconScale 600ms ease-in-out forwards;
}
.circle {
  border-radius: 50%;
  margin: 0.15em;
  font-size: 3em;
}
.fa-instagram {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background: -webkit-radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  color: #ffffff;
  font-size: 22px;
  padding: 10px;
}
.fa-facebook {
  background: #4267b2;
  color: #ffffff;
  font-size: 22px;
  padding: 10px;
}
.whatsapp-fixed {
  /* background: linear-gradient(#25d366, #25d366) 14% 84%/16% 16% no-repeat,
    radial-gradient(#25d366 60%, transparent 0); */
  background-color: green;
  color: #ffffff;

  padding: 10px;
}
.ellipsis__whatsapp .circle {
  font-size: 27px;
}
.fa-whatsapp {
  /* background: linear-gradient(#25d366, #25d366) 14% 84%/16% 16% no-repeat,
    radial-gradient(#25d366 60%, transparent 0); */
  background-color: green;
  color: #ffffff;
  font-size: 22px;
  padding: 10px;
}
.fa-envelope {
  background: #d93e06;
  color: #ffffff;
  font-size: 22px;
  padding: 10px;
}
.fa-phone {
  background: #0ba74a;
  color: #ffffff;
  font-size: 22px;
  padding: 10px;
}

@keyframes iconScale {
  /* 0%{
    transform: scale(0);
  }
  20% {
    transform: scale(1.5);
  }
  40%{
    transform: scale(0);
  }
  60%{
    transform: scale(1.5);
  }
  80%{
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  } */
  0% {
    visibility: visible;
    transform: translateY(600px);
  }
  50% {
  }
  100% {
    transform: scale(-150px);
    visibility: visible;
  }
}
